<div>
  <div *ngIf="!currentCheck">
    <div class="card grey lighten-5">
        <h6 class="card-title">Public</h6>
        <div class="card-content">
          <ul style="list-style-type:none"> <li>hashRate: {{ publicStats?.avgHashrate }}</li>
            <li>timeToNextEpoch: {{ publicStats?.timeToNextEpoch }}</li></ul>
        </div>
      </div>
  </div>

  <div *ngIf="currentCheck">
    <div class="card grey lighten-5">
          <h6 class="card-title">Private</h6>
          <div class="card-content">
            <ul style="list-style-type:none">
              <li>chain: {{privateStats?.chain}}</li>
              <li>averageBlockTimeDifficulty: {{privateStats?.avgDifficulty}}</li>
              <li>averageHashRate: {{privateStats?.avgHashrate}}</li>
              <li>gasPrice: {{privateStats?.avgGasPrice}}</li></ul>
          </div>
    </div>
  </div>

</div>
