<!--
<div>
  <div *ngIf="!currentCheck">
    <div class="card grey lighten-5">
        <h6 class="card-title">Public</h6>
        <div class="card-content">
          <ul style="list-style-type:none"> <li>hashRate: {{ publicStats?.avgHashrate }}</li>
            <li>timeToNextEpoch: {{ publicStats?.timeToNextEpoch }}</li></ul>
        </div>
      </div>
  </div>

  <div *ngIf="currentCheck">
    <div class="card grey lighten-5">
          <h6 class="card-title">Private</h6>
          <div class="card-content">
            <ul style="list-style-type:none">
              <li>chain: {{privateStats?.chain}}</li>
              <li>averageBlockTimeDifficulty: {{privateStats?.avgDifficulty}}</li>
              <li>averageHashRate: {{privateStats?.avgHashrate}}</li>
              <li>gasPrice: {{privateStats?.avgGasPrice}}</li></ul>
          </div>
    </div>
  </div>
</div>
-->

<div class="container">
    <div class="row"> 
    <div class="col s8 offset-s2">
      <table class="bordered highlight">
          <thead>
            <tr>
                <th></th>
                <th>Public</th>
                <th>Private</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Average HashRate</b></td>
              <td>{{publicStats?.hashRate}} GH/s</td>
              <td>{{privateStats?.avgHashrate}} GH/s</td>
            </tr>
            <tr>
                <td><b>Average Block Time</b></td>
                <td>{{publicStats?.averageBlockTime}}</td>
                <td>{{privateStats?.avgDifficulty}}</td>
              </tr>
            <tr>
              <td><b>Number of miners</b></td>
              <td>{{publicStats?.activeMiners}}</td>
              <td>{{privateStats?.numberOfMiners}}</td>
            </tr>
            <tr>
              <td><b>Number of workers</b></td>
              <td>{{publicStats?.activeWorkers}}</td>
              <td>{{privateStats?.numberOfHosts}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="divider"></div>