<mat-card>
  <mat-card-content>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Public</th>
        <th>Private</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><b>Average HashRate</b></td>
        <td>{{ publicStatistics?.avgHashrate }} GH/s</td>
        <td>{{ privateStatistics?.avgHashrate }} H/s</td>
      </tr>
      <tr>
        <td><b>Average Block Time</b></td>
        <td>{{ publicStatistics?.avgBlocktime }} Min</td>
        <td>{{ privateStatistics?.avgBlocktime }} Sec</td>
      </tr>
      <tr>
        <td><b>Number of miners</b></td>
        <td>{{ publicStatistics?.numberOfMiners }}</td>
        <td>{{ privateStatistics?.numberOfMiners }}</td>
      </tr>
      <tr>
        <td><b>Number of workers</b></td>
        <td>{{ publicStatistics?.numberOfWorkers }}</td>
        <td>{{ privateStatistics?.numberOfHosts }}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
