<mat-card>
  <h2>
    Scenario upload
  </h2>
  <mat-form-field>
    <input matInput placeholder="Scenario name" type="text" (input)="scenarioName = $event.target.value">
  </mat-form-field>
  <input type="file" [name]="'Upload Scylla log'" [accept]="'.xes'"
         (change)="handleInputChange($event)" class="inputfile" />
  <label [for]="data" ondragover="return false;"
         [class.loaded]="loaded"
         (dragenter)="handleDragEnter()"
         (dragleave)="handleDragLeave()"
         (drop)="handleDrop($event)">
      <span *ngIf="loaded">
        {{displayedFileName}}
      </span>
      <span *ngIf="!loaded">
        Upload Scylla log (.xes)
      </span>
  </label>
  <button *ngIf='!loaded || !scenarioName' mat-raised-button disabled>
    Upload
  </button>
  <button *ngIf='loaded && scenarioName' mat-raised-button color="primary" (click)="uploadFile()">
    Upload
  </button>
</mat-card>

