  <mat-card>
    <mat-card-title>
      Choose Blockchain
    </mat-card-title>
    <mat-card-content>
      <form name="select">
        <h2 class="mat-h3">Define Network Type</h2>
        <p>
          <mat-checkbox class="margin" [(ngModel)]="publicChecked" [ngModelOptions]="{standalone: true}" ngDefaultControl>Public</mat-checkbox>
          <mat-checkbox class="margin" [(ngModel)]="privateChecked" [ngModelOptions]="{standalone: true}" ngDefaultControl>Private</mat-checkbox>
        </p>
        <h2 class="mat-h3">Define Time Span</h2>
        <p>

          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="start" placeholder="Start date" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width:80px;">
              <mat-select placeholder="Hours" [(ngModel)]="startHours" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
              </mat-select>
            </mat-form-field> :
            <mat-form-field style="width:80px;">
                <mat-select placeholder="Minutes" [(ngModel)]="startMinutes" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                </mat-select>
              </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="end" placeholder="End date" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width:80px;">
              <mat-select placeholder="Hours" [(ngModel)]="endHours" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
              </mat-select>
            </mat-form-field> :
            <mat-form-field style="width:80px;">
                <mat-select placeholder="Minutes" [(ngModel)]="endMinutes" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let minute of minutes" [value]="minute">{{minute}}</mat-option>
                </mat-select>
              </mat-form-field>
        </p>
        <mat-card-actions>
          <button mat-raised-button type="submit" (click)="emitEvent()">Show Data
            <mat-icon>
              send
            </mat-icon></button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>

