<div class="row">
      <div class="col s6 offset-s3">
        <div class="card grey lighten-5">
          <div class="card-content" id="form">
            <h6 class="card-title">Choose Blockchain</h6>
            <br>
            <h6 class="">Define network type</h6>
            <form action="#">
                <p>
                  <input type="checkbox" class="filled-in" id="test5" />
                  <label for="test5">Public</label>
                </p>
                <p>
                  <input type="checkbox" class="filled-in" id="test6" />
                  <label for="test6">Private</label>
                </p>
              </form>
            <h6 class="">Set amount of nodes</h6>
            <p>
              <input name="group2" type="radio" id="test3" />
              <label class=""for="test3">10 nodes</label>
            </p>
            <p>
              <input name="group2" type="radio" id="test4" />
              <label class="" for="test4">100 nodes</label>
            </p>
            <p>
                <input name="group2" type="radio" id="test5" />
                <label class="" for="test5">1000 nodes</label>
              </p>
        </div>
        <div class="card-action">
            <button class="btn waves-effect waves-light grey darken-2" type="submit" name="action" (click)="emitEvent()">Show Data
                <i class="material-icons right">send</i>
              </button>
        </div>

        </div>
      </div>
    </div>
    <br>
    <div class="divider"></div>
