mat-icon {
  margin-right: 5px;
}

.scenario-label {
  display: flex;
}

.mat-list-icon {
  font-size: 22px;
}

h2 {
  padding: 10px;
}

button {
  margin-top: 10px;
  width: 100%;
}

mat-card {
  padding: 0px !important;
}

p {
  &.description {
    margin: 0px;
    hyphens: auto;
    text-align: justify;
    color: #666666;
  }
}

mat-slider {
  width: 100%;
}
