mat-icon {
  margin-right: 5px;
}

.scenario-label {
  display: flex;
}

.mat-list-icon {
  font-size: 22px;
}

h2 {
  padding: 10px;
}

button {
  margin-top: 10px;
  width: 100%;
}

mat-card {
  padding: 0px !important;
}
