<div class="container">
  <mat-card>
    <h2>Scenarios</h2>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let scenario of scenarios">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ scenario["name"] }}
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon *ngIf="scenario.name === selectedScenario" matListIcon>play_arrow</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="description">
              {{ scenario["description"] }}
          </p>
          <div *ngIf="isAuthenticated">
            <button *ngIf="scenario.name !== selectedScenario" mat-raised-button color="primary" (click)="toggleScenario(scenario.name)">
              Start
            </button>
            <button *ngIf="scenario.name === selectedScenario" mat-raised-button color="warn" (click)="toggleScenario(scenario.name)">
              Stop
            </button>
          </div>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
