<div class="container">
  <mat-card>
    <h2>Scenarios</h2>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let scenario of scenarios">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="scenario.name !== selectedScenario" matListIcon>play_circle_outline</mat-icon>
              <mat-icon *ngIf="scenario.name === selectedScenario" matListIcon>pause_circle_outline</mat-icon>
              {{ scenario["name"] }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{ scenario["description"] }}
          <div *ngIf="isAuthenticated">
            <button *ngIf="scenario.name !== selectedScenario" mat-button (click)="selectScenario(scenario.name)">
              Start
            </button>
            <button *ngIf="scenario.name === selectedScenario" mat-button (click)="selectScenario(scenario.name)">
              Stop
            </button>
          </div>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
