<div>
  <h3>
    Scenario configuration
  </h3>
  <div [matTooltip]="currentScenario['description']" [matTooltipPosition]="'after'">
    <mat-label>
      Current scenario: {{ currentScenario['logName'] }}
    </mat-label>
  </div>
  <div [matTooltip]="selectedScenario['description']" [matTooltipPosition]="'after'">
    <mat-form-field>
      <mat-select placeholder="Select a scenario" [(value)]="selectedScenario">
        <mat-option *ngFor="let scenario of scenarios" [value]="scenario" (click)="selectScenario()">
          {{ scenario['logName'] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
