<div class="header">
  <h2>Parameter</h2>
</div>

<div class="parameter-input">
  <mat-form-field>
    <input matInput placeholder="Number of hosts">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Number of miners">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Initial difficulty">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Transactions / min">
  </mat-form-field>

  <mat-checkbox>Smart contract ready</mat-checkbox>

  <mat-form-field>
    <input matInput placeholder="Smart Contract calls / min">
  </mat-form-field>
</div>

<div class="chain-selector">
  <mat-card class="chain-selector">
    <mat-card-content>
      <mat-tab-group class="demo-tab-group">
        <mat-tab class="selector" label="Private">
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
            consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab class="selector" label="Public">
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
            consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<div class="footer">

</div>
