button {
  width: 100%;
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

mat-slider {
  width: 100%;
}

mat-label {
  color: rgba(0, 0, 0, 0.54);
  font-family: inherit;
  font-size: 16px;

}

.container {
  display: flex;
}

h2 {
  margin-top: 0px;
}

mat-icon {
  cursor: pointer;
}

.left {
  display: flex;
  float: left;
  width: 80% !important;
}

.right {
  text-align: right;
  display: flex;
  float: right;
  justify-content: flex-end;
  width: 20% !important;
}
