<mat-card>
  <h2>Parameter</h2>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-select placeholder="Target system" [(value)]="selectedTarget">
          <mat-option *ngFor="let node of connectedNodes" [value]="node" (click)="updateChainSelection()">
            {{ node }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedTarget !== ''">
        <mat-form-field>
          <mat-select placeholder="Select a chain" [(value)]="selectedChain">
            <mat-option *ngFor="let chain of chainSelector" [value]="chain" (click)="updateConfiguration()">
              {{ chain }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="selectedChain !== ''">
          <div *ngIf="chainIsActive">
            <div *ngFor="let parameter of configuration">
              <mat-form-field>
                <input matInput placeholder="{{parameter['name']}}" type="number" [value]="configurationStore[parameter['selector']]" (input)="configurationStore[parameter['selector']] = $event.target.value">
              </mat-form-field>
            </div>

            <button mat-raised-button (click)="requestParameterChange()">
              Change Parameters
            </button>
            <button mat-raised-button (click)="stopSelectedChain()">
                Stop chain
            </button>
          </div>

          <div *ngIf="!chainIsActive">
            <button mat-raised-button (click)="startSelectedChain()">
              Start chain
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
