<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chainboard</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>


<div class="container" style="width:130%;" id="background">
  <br><br>
  <h1 class="header center white-text">Welcome to Chainboard</h1>
  <div class="row center">
    <h5 class="header col s12 light white-text">A modern Blockchain benchmarking tool</h5>
  </div>
  <br><br>
</div>

<br>
<app-dashboard></app-dashboard>

<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</html>
