<!doctype html>
<html lang="en">

<div class="container" style="width:130%;" id="background">
  <br><br>
  <h1 class="header center white-text">Welcome to Chainboard</h1>
  <div class="row center">
    <h5 class="header col s12 light white-text">A modern Blockchain benchmarking tool</h5>
  </div>
  <br><br>
</div>

<br>
<app-dashboard></app-dashboard>

<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
</html>
