#page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-toolbar {
    a {
      color: #ffffff;
    }

    button {
      border: 1px solid #d8d8d831 !important;
      border-radius: 2px;
      margin: 3px;
    }

    .spacer{
      width: 100%;
    }

    &.header {
      height: 64px;
      top: 0;
    }

    &.footer {
      min-height: 32px;
      bottom: 30px;
    }

    .logo {
      height: 40px;
      background-color: #ffffffd0;
      padding: 5px;
      border: 0px solid white;
      border-radius: 4px;
    }
  }

  #content-with-arrow-buttons {
    display: flex;
    overflow-y: scroll;

    mat-sidenav-container {
      width: 100%;
      min-width: 400px;

      ::ng-deep mat-card {
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      mat-sidenav {
        width: 250px;
        background-color: transparent;
      }

    }

    .button-container {
      display: flex;
      align-items: center;
    }
  }

}

