<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>BPChain</span>
    <span class="example-spacer"></span>
    <button mat-button>Login</button>
    <button mat-button>About</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <div class="sidenav header">
      <h2>Parameter</h2>
    </div>

    <div class="sidenav body">
      <mat-form-field>
        <input matInput placeholder="Number of hosts">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Number of miners">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Initial difficulty">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Transactions / min">
      </mat-form-field>

      <mat-checkbox>Smart contract ready</mat-checkbox>

      <mat-form-field>
        <input matInput placeholder="Smart Contract calls / min">
      </mat-form-field>
    </div>

    <div class="sidenav footer">
      <mat-card>
        <mat-card-content>
          <mat-tab-group class="demo-tab-group">
            <mat-tab class="selector" label="Private">
              <div class="demo-tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div>
            </mat-tab>
            <mat-tab class="selector" label="Public">
              <div class="demo-tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
                consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav>

  <mat-sidenav opened mode="side" position="end">
    <div class="sidenav header">
      <h2>Blockchain</h2>
    </div>
    <div class="sidenav body">
      <section>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
        vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
        felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
        enim, vel tempor sapien arcu a tellus.

      </section>
    </div>
    <div class="sidenav footer">

    </div>
  </mat-sidenav>Content
</mat-sidenav-container>
