.example-spacer {
  flex: 1 1 auto;
}

button {
  border: 1px solid rgba(153, 153, 153, 0.253);
  border-radius: 2px;
  margin: 3px;
}

mat-sidenav {
  width: 320px;
}

mat-sidenav-container {
  height: 800px;
}
