.spacer {
  flex: 1 1 auto;
}


button {
  border: 1px solid rgba(216, 216, 216, 0.192);
  border-radius: 2px;
  margin: 3px;
}

mat-sidenav {
  width: 320px;
}

mat-toolbar {

  &.header {
    height: 64px;
  }

  &.footer {
    height: 30px;
    position: fixed;
    bottom: 0px;
  }
}
