/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  height: 100%;
  background-color: rgb(250, 250, 250);
  font-family: 'Lato', serif;
}
