p {
  &.description {
    color: #aaaaaa;
    font-size: 13px;
  }
}


.mat-raised-button {
  min-width: 0px;
}

mat-list-option {
  font-size: 16px;
}

h3 {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}
