<mat-card>
  <h2>Parameter</h2>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-select placeholder="Target system" [(value)]="selectedNode">
          <mat-option *ngFor="let node of connectedNodes" [value]="node" (click)="updateChainSelection()">
            {{ node }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedNode !== ''">
        <mat-form-field>
          <mat-select placeholder="Select a chain" [(value)]="selectedChain">
            <mat-option *ngFor="let chain of chainSelector" [value]="chain" (click)="updateConfiguration()">
              {{ chain }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="selectedChain !== ''">
          <div *ngIf="chainIsActive">
           <mat-form-field>
              <input #numberOfHosts matInput placeholder="Number of hosts" type="number" [(value)]="configuration['numberOfHosts']">
            </mat-form-field>

            <mat-form-field>
              <input #numberOfMiners matInput placeholder="Number of miners" type="number" [(value)]="configuration['numberOfMiners']">
            </mat-form-field>

            <mat-form-field>
              <input #initialDifficulty matInput placeholder="Initial difficulty" type="number" [(value)]="configuration['initialDifficulty']">
            </mat-form-field>

            <mat-form-field>
              <input #transactionsPerMin matInput placeholder="Transactions / min" type="number" [(value)]="configuration['transactionsPerMin']">
            </mat-form-field>

            <button mat-raised-button (click)="requestParameterChange()">
              Change Parameters
            </button>
            <button mat-raised-button (click)="stopSelectedChain()">
                Stop chain
            </button>
          </div>

          <div *ngIf="!chainIsActive">
            <button mat-raised-button (click)="startSelectedChain()">
              Start chain
            </button>
          </div>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>
