<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      BPChain
      <span class="description">We are a team of college students working on this project . Any feedback is greatly appreciated.</span>
    </span>
    <span class="spacer"></span>
    <a mat-button class="docs-button" href="https://github.com/BPChain" aria-label="Connect on GitHub">
      <span>Connect on</span>
      <img class="docs-angular-logo"
           src="assets/images/github-circle-white-transparent.svg"
           alt="github">
    </a>
  </mat-toolbar-row>
</mat-toolbar>
