<app-welcome></app-welcome>
<br>
<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <app-form (showData)="loadRequestedData($event)"></app-form>
  <app-metric [publicStatistics]="currentPublicStatistics" [privateStatistics]="currentPrivateStatistics"></app-metric>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center start" *ngIf="currentPrivateStatistics && currentPublicStatistics">
  <div *ngIf="publicCheck" fxFlex="45">
    <span class="mat-h1">Public</span>
    <br>
    <div *ngIf="timeBasedPublicStatistics">
      <app-public-charts [currentPublicData]="currentPublicStatistics" [publicData]="timeBasedPublicStatistics"></app-public-charts>
    </div>
    <div *ngIf="!timeBasedPublicStatistics">
      <app-public-charts [currentPublicData]="currentPublicStatistics"></app-public-charts>
    </div>
  </div>
  <div *ngIf="privateCheck" fxFlex="45">
    <span class="mat-h1">Private</span>
    <br>
    <app-private-charts [currentPrivateData]="currentPrivateStatistics"></app-private-charts>
    </div>
</div>


