<mat-card>
  <div class='right'>
  <mat-select class='time-selector' [(value)]="selectedTimeSpan" *ngIf='showTimeSpanSelection'>
    <mat-option value="5" (click)='updateDatasets(false)'>5 Minutes</mat-option>
    <mat-option value="30" (click)='updateDatasets(false)'>30 Minutes</mat-option>
    <mat-option value="60" (click)='updateDatasets(false)'>1 Hour</mat-option>
    <mat-option value="120" (click)='updateDatasets(false)'>2 Hours</mat-option>
    <mat-option value="300" (click)='updateDatasets(false)'>5 Hours</mat-option>
  </mat-select>

  </div>
  <app-plotly-linechart #linechart [dataset]='dataset' [timespan]='timeFrame' [selectedParameter]='parameterSelection.value ? parameterSelection.value : "numberOfHosts"'></app-plotly-linechart>

  <mat-button-toggle-group #parameterSelection="matButtonToggleGroup" value='numberOfHosts'>
    <mat-button-toggle value='numberOfHosts'>Hosts</mat-button-toggle>
    <mat-button-toggle value='numberOfMiners'>Miners</mat-button-toggle>
    <mat-button-toggle value='avgCpuUsage'>CPU usage</mat-button-toggle>
    <mat-button-toggle value='avgHashrate'>Hashrate</mat-button-toggle>
    <mat-button-toggle value='avgBlocktime'>Blocktime</mat-button-toggle>
    <mat-button-toggle value='avgBlockSize'>Blocksize</mat-button-toggle>
    <mat-button-toggle value='avgDifficulty'>Difficulty</mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<div class="container" *ngIf='displayMetrics'>
  <mat-card class="item small">
    Mining Time (s)
    <app-barchart [data]="metrics['miningTime']">
    </app-barchart>
  </mat-card>
  <mat-card class="item small">
    Stability (Blocktime deviation in s)
    <app-barchart [data]="metrics['stability']">
    </app-barchart>
  </mat-card>
  <mat-card class="item small">
    Throughput
    <app-barchart [data]="metrics['throughput']">
    </app-barchart>
  </mat-card>
  <mat-card class="item small">
    Data transfer (Bytes / s)
    <app-barchart [data]="metrics['dataTransfer']">
    </app-barchart>
  </mat-card>
  <mat-card class="item small">
    Energy Consumption (W)
    <app-barchart [data]="metrics['energyConsumption']">
    </app-barchart>
  </mat-card>
  <mat-card class="item small">
    Latency
    <app-barchart [data]="metrics['latency']">
    </app-barchart>
  </mat-card>
</div>
