<app-barchart [labels]="['avgBlocktime']" [max]="20" [statistics]="currentPrivateData"></app-barchart>
<app-barchart [labels]="['avgHashrate']" [max]="50000" [statistics]="currentPrivateData"></app-barchart>
<app-barchart [labels]="['numberOfMiners','numberOfHosts']" [max]="50" [statistics]="currentPrivateData"></app-barchart>
<div *ngIf="privateData">
    <app-linechart [labels]="['avgBlocktime']" [statistics]="privateData"></app-linechart>
    <app-linechart [labels]="['avgHashrate']" [statistics]="privateData"></app-linechart>
    <app-linechart [labels]="['numberOfMiners']" [statistics]="privateData"></app-linechart>
    <app-linechart [labels]="['numberOfHosts']" [statistics]="privateData"></app-linechart>
  </div>
