<form>
  <mat-form-field [color]='options.value.color'>
    <input #username matInput placeholder="Username" [formControl]="usernameInput" type="text">
    <mat-error *ngIf="usernameInput.invalid">{{getUsernameErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field [color]='options.value.color'>
    <input #password matInput placeholder="Password" [formControl]="passwordInput" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="passwordInput.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>


</form>
<button mat-button (click)="submitCredentials(username.value, password.value)">Submit</button>
