.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  &.login {
    justify-content: center;
  }
}

.expand {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

button {
  width: 50px;
  text-align: center;
}
